<!-- Materialize Chips -->
<p>Tags: </p>
<div>
    <% tags.forEach(tag => { %>
        <!-- todo - When none are preselected display results with all tags -->
        <span class=""><%= tag %></span> 
        <!-- stretch - get noselect class working on chips -->
        <!-- ... -->
    <% }) %> 
</div>