<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5><a class="white-text" href="/"><i class="material-icons">public</i> E.A.H.</a></h5>
            <div class="container1">
              <p> ~ Welcome ~ <br> <br> I recently started collecting interesting environmental data. I've also started breaking it down into bite-size pieces.  My goal is building a hub that pairs visitors like you with info that really captures your attention! </p>
            </div>
          
            <p class="grey-text text-lighten-4">Best wishes on your advocacy journey!</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Powered by</h5>
          <ul>
            <li><a class="white-text" href="https://materializecss.com/">Materialize</a></li>
            <li><a class="white-text" href="https://ejs.co/">EJS</a></li>
            <li><a class="white-text" href="https://mongoosejs.com/">Mongoose</a></li>
            <li><a class="white-text" href="https://nodejs.org/en/">Node</a></li>
            <li><a class="white-text" href="https://expressjs.com/">Express</a></li>
            <li>JavaScript</li>
            <li>CSS</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Also...</h5>
          <ul>
            <li><a class="white-text" href="#!">Deployed with Heroku</a></li>
            <li><a class="white-text" href="#!">Hosted on GitHub</a></li>
            <li><a class="white-text" href="#!">MVC Structure</a></li>
            <li><a class="white-text" href="#!">RESTful routing & CRUD</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container"> Created by 
        <a class="blue-text text-lighten-3" href="https://www.linkedin.com/in/trevorforen/" target="_blank">Trevor Foren</a>
      <a class="grey-text text-lighten-4 right" href="/#!"><i class="tiny material-icons">lightbulb_outline</i> Provide Feedback</a>
      </div>
    </div>
  </footer>