<nav>
    <!-- <div class="nav-wrapper">-->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
      <!-- ^ MaterializeCss uses the data-target attribute to understand which sidenav the button refers to -->
      <a href="/" class="brand-logo" target="_self">Environmental Advocacy Hub</a>

      <ul class="right">
        <li><a href="https://github.com/trevor4n/ENV-Advocacy" target="_blank">Look under the hood</a></li>
        <li><a href="http://github.com/trevor4n" target="_blank">Find me on GitHub</a></li>
      </ul>
    <!-- </div>  -->
  </nav>