    <!-- <ul id="slide-out" class="sidenav show-on-large> -->
      <ul id="mobile-demo" class="sidenav show-on-large">
        <%# console.log( `User (scope - ejs): `, locals.user) %> 
        <% if(locals.user)  { %>
          <% if(!user.curator) { %> <!-- FIX - user flag -->
            <%# console.log(user.curator) %>
            <li>
              <div class="user-view">
                <div class="background">
                  <img src="/public/images/200902_Lightroom_IMGP9088.jpg">
                </div>
                <!-- <a href="#name"><span class="white-text name">username <%= user.curator %> </span></a> -->
                <span class="white-text name">~ WELCOME ~ <%= user.name %> </span>
                <!-- <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
               <span class="white-text email"> ~email~  </span>
               <!-- fix - ^ ejsout email -->
              </div>
            </li>

            <li><div class="divider"></div></li>

            <li><a class="subheader">Curator Hub</a></li>
            <li><a class="waves-effect" href="/snippet/"><i class="material-icons">content_cut</i>Snippets</a></li>
            <li><a class="waves-effect" href="#!"><i class="material-icons">business</i>Orgs</a></li>
            <!-- <li><a class="waves-effect" href="#!">User Whitelist</a></li> -->

            <li><div class="divider"></div></li>

            <li><a href="/auth/logout"><i class="material-icons">logout</i>Logout</a></li>
          <% } else { %> 
            <!-- if not logged in as a curator -->
            <li><a href="/auth/google"><i class="material-icons">login</i>Google login</a></li>
          <% } %> 
          <!-- user exists in locals here -->
        <% } else { %> <!-- if no user exists -->
          <li><a href="/auth/google"><i class="material-icons">login</i>Google login</a></li>
        <% } %> 
        <!-- if user does not exist in locals yet -->
        <!-- either way -->
        <li><div class="divider"></div></li>
        <li><a class="sidenav-close" href="#"><i class="material-icons">close</i>Close Menu</a></li>
      </ul>
