<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENV-Advocacy</title>
</head>
<body>
    <h1>ENV-Advocacy</h1>
    <p>Filters:</p>
    <ul class="wrap noselect">
        <!-- filter buttons -->
        
        <% tags.forEach(tag => { %>
            <li> <%= tag %> </li>
        <% }) %> 
    </ul>
</body>
</html>