<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %> 
</head>
<body>
    <h1>ENV-Advocacy</h1>

    <%- include('partials/filters', {tags, tags}) %> 

    <div><%= data %></div>

    <button class="mdc-button foo-button">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Button</span>
    </button>
</body>
</html>