@import url('https://fonts.googleapis.com/css?family=PT+Sans');

:root{
    --grid-cols: 1;
    --grid-rows: 1;
    background: rgb(253,187,45);
    background: radial-gradient(circle, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 96%);
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

* {
    box-sizing: border-box; 
}

/* Fixed HTML Structure */
/* header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  } */

main {
    margin-left: 200px; /* Same as the width of the sidenav */
    flex: 1 0 auto;
}

nav {
    background-color: #718b9f !important;
}

footer {
    background-color: #718b9f !important;
    /* position: fixed;
    bottom: 0; */
}

.subheader {
    /* color: #d3b99e !important; */
    color: #e6b17f !important;
    /* color: #ff9891 !important; */

}
.wrap{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-evenly;
    text-align: center;
    padding: 2vh;
    height: 20vh;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #ee6e73; */
    background-color: #718b9f !important;
    overflow-x: hidden;
    padding-top: 20px;
    color: black;
  }
.background {
    /* background: url("/public/images/200902_Lightroom_IMGP9088.jpg") no-repeat center center; */
    /* background-size: 100% 55vh; */
    margin-bottom: 0px;
    padding: 15px 0 0 15px;
    color: white;
}
.sidenav-header .row {
    margin-bottom: 0;
}
.sidenav-overlay{
    display: none !important;
}
.material-icons {
    vertical-align: middle;
}
.noselect { /* https://stackoverflow.com/a/9314458/3911210 */
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}